---
import { render } from "astro:content";
import Html from "src/components/layout/Html.astro";
import Tags from "src/pages/posts/_components/Tags.astro";
import PostMeta from "src/components/PostMeta.astro";
import TableOfContents from "src/pages/posts/_components/TableOfContents.astro";
import AdjacentPosts from "src/pages/posts/_components/AdjacentPosts.astro";
import {
  ENABLE_TABLE_OF_CONTENTS_FEATURE,
  ENABLE_TAG_FEATURE,
} from "src/constants";
import Lightbox from "src/components/layout/Lightbox.astro";
import defaultCover from "src/images/default-cover.jpg";
import { getPost } from "src/utils/collections";

interface Props {
  slug: string;
}

const { slug } = Astro.props;

const post = await getPost(slug);

const { title, cover, tags, summary } = post.data;
const { Content, headings } = await render(post);

// Add a space after the numbering
const numberedHeadings = headings.map(({ depth, slug, text }) => ({
  depth,
  slug,
  text: text.replace(/^([\d.]+)/, "$1 "),
}));
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<Html
  data-page="Post"
  openGraph={{
    title,
    description: summary,
    thumbnail: cover?.src,
  }}
>
  <Lightbox
    src={cover?.src ?? defaultCover}
    alt={cover?.alt ?? ""}
    sizes="(max-width: 1024px) 100vw, 1024px"
    fallbackWidth={1024}
    priority
    openOriginal
  />
  <div id="header">
    <h1>{title}</h1>
    <PostMeta post={post} />
    {ENABLE_TAG_FEATURE && <Tags tags={tags} />}
  </div>
  <div id="body">
    <div id="content">
      {
        ENABLE_TABLE_OF_CONTENTS_FEATURE && numberedHeadings.length > 0 && (
          <TableOfContents headings={numberedHeadings} />
        )
      }
      <div>
        <Content />
      </div>
    </div>
    <AdjacentPosts currentPost={post} />
  </div>
</Html>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [data-page="Post"] {
    display: flex;
    flex-direction: column;
    place-items: center;

    picture {
      & > img {
        --header-height: 64px;
        --mobile-footer-height: 80px;
        --title-height: 130px;

        max-height: calc(100dvh - var(--header-height) - var(--title-height));

        @media (-moz-touch-enabled: 1), (pointer: coarse) {
          max-height: calc(
            100dvh - var(--header-height) - var(--mobile-footer-height) -
              var(--title-height)
          );
        }

        @media (max-height: 500px) {
          max-height: unset;
        }

        width: 100%;
        height: auto;
        object-fit: cover;
        border-bottom: 1px solid var(--layout-border);

        background-image: radial-gradient(
          var(--layout-border) 20%,
          transparent 30%
        );
        background-size: 16px 16px;
        background-repeat: space;
      }
    }

    & > #header {
      width: 100%;
      padding: 64px var(--middle-x-padding);
      border-bottom: 2px dotted var(--layout-border);

      display: flex;
      flex-direction: column;
      place-items: center;
      gap: 24px;
      text-align: center;
    }

    & > #body {
      max-width: 70ch;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 64px 16px;

      & > #content {
        display: flex;
        flex-direction: column;
        gap: 128px;
      }

      @media (max-width: 1600.5px) {
        gap: 128px;
      }
    }
  }
</style>
