---
import TagPill from "src/components/TagPill.astro";

interface Props {
  tags: { tag: string; count?: number }[] | undefined;
  activeTag?: string | undefined;
  getTagLink?: (tag: string) => string;
  align?: "center" | "start" | "end";
  large?: boolean;
}

const {
  tags = [],
  activeTag,
  getTagLink,
  align = "center",
  large = false,
  ...rest
} = Astro.props;

if (tags.length === 0) return;
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<div data-component="Tags" data-align={align} {...rest}>
  {
    tags.map(({ tag, count }) =>
      getTagLink === undefined ? (
        <TagPill
          tag={tag}
          count={count}
          withLinks={activeTag !== tag}
          active={activeTag === tag}
          large={large}
        />
      ) : (
        <a href={getTagLink(tag)}>
          <TagPill
            tag={tag}
            count={count}
            withLinks={activeTag !== tag}
            active={activeTag === tag}
            large={large}
          />
        </a>
      )
    )
  }
</div>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [data-component="Tags"] {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    &[data-align="start"] {
      justify-content: flex-start;
    }

    &[data-align="end"] {
      justify-content: flex-end;
    }

    &[data-align="center"] {
      justify-content: center;
    }

    & > a {
      border-radius: 100vmax;
    }
  }
</style>
