---
import TagPill from "src/components/TagPill.astro";

interface Props {
  tags: { tag: string; count?: number }[] | undefined;
  activeTag?: string | undefined;
  getTagLink?: (tag: string) => string;
  ariaLabel?: (tag: string, count?: number) => string;
  listAriaLabel?: string;
  align?: "center" | "start" | "end";
  large?: boolean;
}

const {
  tags = [],
  activeTag,
  getTagLink,
  ariaLabel,
  listAriaLabel,
  align = "center",
  large = false,
  ...rest
} = Astro.props;

if (tags.length === 0) return;
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<ul
  data-component="Tags"
  data-align={align}
  {...rest}
  aria-label={listAriaLabel}
>
  {
    tags.map(({ tag, count }) =>
      getTagLink === undefined ? (
        <li
          aria-label={ariaLabel?.(tag, count)}
          aria-current={activeTag === tag}
        >
          <TagPill
            tag={tag}
            count={count}
            withLinks={activeTag !== tag}
            active={activeTag === tag}
            large={large}
          />
        </li>
      ) : (
        <li>
          <a
            href={getTagLink(tag)}
            aria-label={ariaLabel?.(tag, count)}
            aria-current={activeTag === tag}
          >
            <TagPill
              tag={tag}
              count={count}
              withLinks={activeTag !== tag}
              active={activeTag === tag}
              large={large}
              aria-hidden={ariaLabel === undefined ? undefined : "true"}
            />
          </a>
        </li>
      )
    )
  }
</ul>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [data-component="Tags"] {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    padding: 0;
    margin: 0;

    &[data-align="start"] {
      justify-content: flex-start;
    }

    &[data-align="end"] {
      justify-content: flex-end;
    }

    &[data-align="center"] {
      justify-content: center;
    }

    & > li {
      list-style: none;

      & > a {
        border-radius: 100vmax;
      }
    }
  }
</style>
