---
import Html from "src/components/layout/Html.astro";
import { ENABLE_TAG_FEATURE } from "src/constants";
import Tags from "src/pages/posts/_components/Tags.astro";

interface Props {
  title: string;
  tags?: { tag: string; count: number }[];
  activeTag?: string;
  getTagLink: (tag: string) => string;
}

const { title, activeTag, getTagLink } = Astro.props;
const tags = ENABLE_TAG_FEATURE ? (Astro.props.tags ?? []) : [];
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<Html data-page="EntriesPage" data-entry-type={title}>
  <h1>{title}</h1>
  {
    tags.length > 0 && (
      <Tags
        tags={tags}
        activeTag={activeTag}
        getTagLink={getTagLink}
        align="start"
        large
      />
    )
  }
  <slot />
</Html>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [data-page="EntriesPage"] {
    padding-top: 64px;
    padding-bottom: 128px;

    & > h1 {
      padding-inline: var(--middle-x-padding);
      margin-bottom: 32px;
    }

    & > [data-component="Tags"] {
      padding-inline: var(--middle-x-padding);
      margin-bottom: 32px;
    }
  }
</style>

{/* ---------------------------------[ JS ]--------------------------------- */}

{/* Preserve scroll position when navigating between the same Entries page */}
<script is:inline>
  const entryType = document
    .querySelector("[data-page='EntriesPage']")
    ?.getAttribute("data-entry-type");

  if (!entryType) throw new Error("Entry type not found");

  const scroll = JSON.parse(
    localStorage.getItem("entries-page-scroll") ?? "{}"
  );

  if (scroll.time < Date.now() + 3_000 && scroll.entryType === entryType) {
    window.scrollTo({ top: scroll.top, behavior: "instant" });
  }

  localStorage.removeItem("entries-page-scroll");

  window.addEventListener("beforeunload", (e) => {
    localStorage.setItem(
      "entries-page-scroll",
      JSON.stringify({
        top: window.scrollY,
        time: Date.now(),
        entryType,
      })
    );
  });
</script>
