---
import {
  NAVIGATION_HOME_ITEM,
  NAVIGATION_ITEMS,
  WEBSITE_NAME,
  WebsiteLogo,
} from "src/constants";
import { isActive, getUrl } from "src/utils/navigation";

const props = Astro.props;
const { pathname } = new URL(Astro.request.url);
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<header data-component="Header" {...props}>
  <nav aria-label="Main pages">
    <a
      id="left"
      href={getUrl(NAVIGATION_HOME_ITEM.href)}
      class:list={{ active: isActive(NAVIGATION_HOME_ITEM, pathname) }}
      title={NAVIGATION_HOME_ITEM.tooltip}
      aria-label={NAVIGATION_HOME_ITEM.label}
      aria-current={isActive(NAVIGATION_HOME_ITEM, pathname)
        ? "page"
        : undefined}
    >
      <WebsiteLogo aria-hidden="true" />
      <p aria-hidden="true">{WEBSITE_NAME}</p>
    </a>
    <div id="right">
      {
        NAVIGATION_ITEMS.map(({ href, label, detection, tooltip }) => (
          <div>
            <div aria-hidden="true">{label}</div>
            <a
              href={getUrl(href)}
              class:list={{
                active: isActive({ href, detection }, pathname),
              }}
              title={tooltip}
              aria-label={label}
              aria-current={
                isActive({ href, detection }, pathname) ? "page" : undefined
              }
            >
              <span aria-hidden="true">{label}</span>
            </a>
          </div>
        ))
      }
    </div>
  </nav>
</header>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [data-component="Header"] {
    @media (min-width: 600.5px) {
      position: sticky;
      top: 0;

      background-color: var(--background);

      @supports (backdrop-filter: blur(24px)) {
        backdrop-filter: blur(24px);
        background-color: var(--background-70-transparent);
      }

      @media (prefers-reduced-transparency) {
        backdrop-filter: none;
        background-color: var(--background);
      }
    }

    border-bottom: 1px solid var(--layout-border);
    z-index: 1;

    & > nav {
      max-width: 1024px;
      margin-inline: auto;
      padding-inline: calc(var(--middle-x-padding) - 16px);

      @media (min-width: 1024px) {
        border-inline: 1px solid var(--layout-border);
      }

      display: flex;
      justify-content: space-between;

      & > #left,
      & > #right {
        display: flex;
        align-items: center;
      }

      & > #right > div {
        display: grid;
        place-items: center;

        & > a {
          grid-column: 1;
          grid-row: 1;
        }

        & > div {
          grid-column: 1;
          grid-row: 1;
          font-weight: 700;
          visibility: hidden;
          padding: 16px;
        }
      }

      & a {
        color: var(--foreground-60);
        padding: 16px;
        transition: color 100ms;

        &:hover,
        &:focus-visible {
          color: inherit;
        }

        &.active {
          color: var(--foreground);
          font-weight: 700;
        }
      }

      & > #left {
        font-size: var(--font-size-2xl);
        font-weight: 700;
        gap: 16px;

        & svg {
          width: 32px;
          height: 32px;
        }

        @media (max-width: 400.5px) {
          display: flex;
          flex-direction: column;

          & svg {
            width: 64px;
            height: 64px;
          }
        }
      }

      @media (max-width: 600.5px) {
        flex-direction: column;
        align-items: center;
        padding-block: 16px;

        & > #left {
          margin-bottom: -8px;
        }
      }

      @media (max-width: 400.5px) {
        & > #left {
          margin-bottom: unset;
        }
      }

      @media print {
        place-content: center;

        & > #right {
          display: none;
        }

        & > #left {
          color: var(--foreground);
        }
      }
    }
  }
</style>
