---
import {
  NAVIGATION_HOME_ITEM,
  NAVIGATION_ITEMS,
  WEBSITE_NAME,
  WebsiteLogo,
} from "src/constants";
import { isActive, getUrl } from "src/utils/navigation";

const props = Astro.props;
const { pathname } = new URL(Astro.request.url);
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<header data-component="Header" {...props}>
  <nav>
    <a
      id="left"
      href={getUrl(NAVIGATION_HOME_ITEM.href)}
      class:list={{ active: isActive(NAVIGATION_HOME_ITEM, pathname) }}
      title={NAVIGATION_HOME_ITEM.tooltip}
    >
      <WebsiteLogo />
      <p>{WEBSITE_NAME}</p>
    </a>
    <div id="right">
      {
        NAVIGATION_ITEMS.map(({ href, label, detection, tooltip }) => (
          <a
            href={getUrl(href)}
            class:list={{
              active: isActive({ href, detection }, pathname),
            }}
            title={tooltip}
          >
            {label}
          </a>
        ))
      }
    </div>
  </nav>
</header>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [data-component="Header"] {
    @media only screen and (min-width: 600.5px) {
      position: sticky;
      top: 0;

      background-color: var(--background);

      @supports (backdrop-filter: blur(16px)) {
        backdrop-filter: blur(16px);
        background-color: var(--background-70-transparent);
      }

      @media (prefers-reduced-transparency) {
        backdrop-filter: none;
        background-color: var(--background);
      }
    }

    border-bottom: 1px solid var(--layout-border);
    z-index: 1;

    & > nav {
      max-width: 1024px;
      margin-inline: auto;
      padding-inline: calc(var(--middle-x-padding) - 16px);

      @media only screen and (min-width: 1024px) {
        border-inline: 1px solid var(--layout-border);
      }

      display: flex;
      justify-content: space-between;

      & > #left,
      & > #right {
        display: flex;
        align-items: center;
      }

      & a {
        color: var(--foreground-60);
        padding: 16px;
        transition: color 100ms;

        &:hover,
        &:focus-visible {
          color: inherit;
        }

        &.active {
          color: var(--foreground);
        }
      }

      & > #left {
        font-size: var(--font-size-2xl);
        font-weight: 700;
        gap: 16px;

        & svg {
          width: 32px;
          height: 32px;
        }

        @media only screen and (max-width: 400.5px) {
          display: flex;
          flex-direction: column;

          & svg {
            width: 64px;
            height: 64px;
          }
        }
      }

      @media only screen and (max-width: 600.5px) {
        flex-direction: column;
        align-items: center;
        padding-block: 16px;

        & > #left {
          margin-bottom: -16px;
        }
      }

      @media only screen and (max-width: 400.5px) {
        & > #left {
          margin-bottom: unset;
        }
      }

      @media print {
        place-content: center;

        & > #right {
          display: none;
        }

        & > #left {
          color: var(--foreground);
        }
      }
    }
  }
</style>
