---
import Html from "src/components/layout/Html.astro";
import Lightbox from "src/components/layout/Lightbox.astro";
import AdjacentImages from "./_components/AdjacentImages.astro";
import { getImage } from "src/utils/collections";
import { render } from "astro:content";
import { ENABLE_TAG_FEATURE } from "src/constants";
import Tags from "src/pages/posts/_components/Tags.astro";
import { getUrl } from "src/utils/navigation";

interface Props {
  slug: string;
}

const { slug } = Astro.props;
const entry = await getImage(slug);
const { image, title, date, yearOnly } = entry.data;
const { Content } = await render(entry);

const tags = (entry.data.tags ?? []).map((tag) => ({ tag }));
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<Html data-page="Image">
  <Lightbox
    src={image}
    sizes="(max-width: 1024px) 100vw, 1024px"
    fallbackWidth={1024}
    priority
    openOriginal
    aria-hidden="true"
  />
  <section
    aria-label="Header"
    id="header"
    class:list={{ "with-body": entry.body }}
  >
    <h1>{title}</h1>
    <p>
      {
        yearOnly
          ? date.getFullYear()
          : date.toLocaleDateString("en-US", { dateStyle: "long" })
      }
    </p>
    {
      ENABLE_TAG_FEATURE && (
        <Tags
          tags={tags}
          listAriaLabel="Tags"
          getTagLink={(tag) => getUrl(`/images/tags/${tag}`)}
          ariaLabel={(tag) => `View images tagged with "${tag}"`}
        />
      )
    }
  </section>

  {
    entry.body ? (
      <div id="body">
        <div>
          <Content />
        </div>
        <AdjacentImages currentImage={entry} />
      </div>
    ) : (
      <div id="footer">
        <AdjacentImages currentImage={entry} />
      </div>
    )
  }
</Html>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [data-page="Image"] {
    display: flex;
    flex-direction: column;
    place-items: center;

    picture {
      & > img {
        --header-height: 64px;
        --mobile-footer-height: 80px;

        max-height: calc(100dvh - var(--header-height));

        @media (-moz-touch-enabled: 1), (pointer: coarse) {
          max-height: calc(
            100dvh - var(--header-height) - var(--mobile-footer-height)
          );
        }

        @media (max-height: 500px) {
          max-height: unset;
        }

        width: 100%;
        height: auto;
        object-fit: contain;
        border-bottom: 1px solid var(--layout-border);

        background-image: radial-gradient(
          var(--layout-border) 20%,
          transparent 30%
        );
        background-size: 16px 16px;
        background-repeat: space;
      }
    }

    & > #header {
      width: 100%;
      padding-inline: var(--middle-x-padding);
      padding-top: 64px;

      &.with-body {
        border-bottom: 2px dotted var(--layout-border);
        padding-bottom: 64px;
      }

      display: flex;
      flex-direction: column;
      place-items: center;
      gap: 24px;
      text-align: center;

      & > p {
        color: var(--foreground-60);
      }
    }

    & > #body {
      max-width: 70ch;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 64px 16px;

      @media (max-width: 1600.5px) {
        gap: 128px;
      }
    }

    & > #footer {
      width: 100%;
      max-width: 70ch;
      padding-inline: var(--middle-x-padding);

      @media (max-width: 1600.5px) {
        padding-top: 64px;
        padding-inline: 16px;
      }
    }
  }
</style>
