---
import type { CollectionEntry } from "astro:content";
import PostMeta from "src/components/PostMeta.astro";
import { getUrl } from "src/utils/navigation";
import Image from "./Image.astro";
import defaultCover from "src/images/default-cover.jpg";
import { ENABLE_TAG_FEATURE } from "src/constants";
import Tags from "src/pages/posts/_components/Tags.astro";
import { getPostDescription } from "src/utils/text-descriptions";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post, ...rest } = Astro.props;
const tags = post.data.tags?.map((tag) => ({ tag })) ?? [];
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<a
  data-component="PostCard"
  href={getUrl(`/posts/${post.id}`)}
  aria-label={getPostDescription(post)}
  {...rest}
>
  <Image
    src={post.data.cover ?? defaultCover}
    sizes="(max-width: 600px) 100vw, 280px"
    fallbackWidth={320}
    priority={false}
  />
  <div aria-hidden="true">
    <h3>{post.data.title}</h3>
    <p>{post.data.summary}</p>
    <PostMeta post={post} />
    {
      ENABLE_TAG_FEATURE && tags.length > 0 && (
        <Tags tags={tags} align="start" />
      )
    }
  </div>
</a>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [data-component="PostCard"] {
    display: flex;
    outline: 1px solid transparent;

    transition:
      background-color 100ms,
      outline-color 100ms;

    &:hover,
    &:focus-visible {
      background-color: var(--foreground-3);
      outline-color: var(--foreground-50);

      & > [data-component="Image"] > img {
        scale: 110%;
      }

      & > div {
        border-left-color: var(--foreground-50);
      }
    }

    & > [data-component="Image"] {
      overflow: hidden;
      flex-shrink: 0;

      mask-image: linear-gradient(
        0deg,
        light-dark(#ffffffaa, transparent) 0%,
        white 33%
      );

      & > img {
        width: calc(100vw / 3);

        @media (min-width: 768px) {
          width: calc(100vw / 4);
        }

        @media (min-width: 1024px) {
          width: 256px;
        }

        height: 100%;
        object-fit: cover;
        aspect-ratio: 4/3;

        transition: scale 500ms;

        background-image: radial-gradient(
          var(--layout-border) 20%,
          transparent 30%
        );
        background-size: 8px 8px;
        background-repeat: space;
      }
    }

    & > div {
      border-left: 1px solid var(--layout-border);

      display: flex;
      flex-direction: column;
      place-content: center;
      padding: 32px;

      & > h3 {
        margin-bottom: 0.4em;
      }

      & > p {
        line-height: 1.5;
        margin-bottom: 0.3em;
      }

      & > [data-component="Tags"] {
        margin-top: 16px;
      }
    }

    @media (max-width: 600.5px) {
      flex-direction: column;

      & > [data-component="Image"] > img {
        width: 100%;
        aspect-ratio: 16/9;
      }

      & > div {
        padding-bottom: 48px;
        border-left: unset;

        & > p {
          margin-bottom: 8px;
        }
      }
    }

    @media (max-width: 400.5px) {
      & > [data-component="Image"] > img {
        aspect-ratio: 1/1;
        max-height: 225px;
      }
    }
  }
</style>
