---
import type { CollectionEntry } from "astro:content";
import HashLogo from "src/icons/lucide--hash.svg";
import PostMeta from "src/components/PostMeta.astro";
import { getUrl } from "src/utils/navigation";
import Image from "./Image.astro";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post, ...rest } = Astro.props;
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<a data-component="PostCard" href={getUrl(`/posts/${post.slug}`)} {...rest}>
  <Image
    src={post.data.cover}
    alt={post.data.coverAlt}
    sizes="(max-width: 600px) 100vw, 280px"
    fallbackWidth={320}
    priority={false}
  />
  <div>
    <h2>{post.data.title}</h2>
    <p>{post.data.summary}</p>
    <PostMeta post={post} />
    {
      post.data.tags && post.data.tags.length > 0 && (
        <div class="tags">
          {post.data.tags?.map((tag) => (
            <div>
              <HashLogo width={12} height={12} />
              {tag}
            </div>
          ))}
        </div>
      )
    }
  </div>
</a>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [data-component="PostCard"] {
    display: flex;
    outline: 1px solid transparent;

    transition:
      background-color 100ms,
      outline-color 100ms;

    &:hover,
    &:focus-visible {
      background-color: var(--foreground-3);
      outline-color: var(--foreground-20-transparent);
    }

    & > picture > img {
      width: 280px;
      height: 100%;
      object-fit: cover;
      aspect-ratio: 4/3;

      mask-image: linear-gradient(
        0deg,
        light-dark(#ffffffaa, transparent) 0%,
        white 100%
      );

      background-image: radial-gradient(
        var(--layout-border) 20%,
        transparent 30%
      );
      background-size: 8px 8px;
      background-repeat: space;
    }

    & > div {
      border-left: 1px solid var(--layout-border);

      display: flex;
      flex-direction: column;
      padding: 32px;

      & > h2 {
        margin-bottom: 0.4em;
      }

      & > p {
        line-height: 1.5;
      }

      & > .tags {
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        & > div {
          background-color: var(--foreground-10);
          border-radius: 100vmax;
          padding: 2px 8px;
          padding-right: 12px;
        }
      }
    }

    @media only screen and (max-width: 600.5px) {
      flex-direction: column;

      & > picture > img {
        width: 100%;
        aspect-ratio: 16/9;
      }

      & > div {
        padding-bottom: 64px;
        border-left: unset;
      }
    }
  }
</style>
