---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import PreviewTags from "src/components/PreviewTags.astro";
import PostMeta from "src/components/PostMeta.astro";
import { getUrl } from "src/utils/navigation";
interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

{/* --------------------------------[ HTML ]-------------------------------- */}

<a href={getUrl(`/posts/${post.slug}`)} component-root>
  <Image src={post.data.cover} width={280} alt="" />
  <div>
    <div>
      <h2>{post.data.title}</h2>
      <p>{post.data.summary}</p>
    </div>
    <PostMeta post={post} />
    <PreviewTags tags={post.data.tags} />
  </div>
</a>

{/* ---------------------------------[ CSS ]-------------------------------- */}

<style>
  [component-root] {
    display: flex;
    outline: 1px solid transparent;

    transition:
      background-color 100ms,
      outline-color 100ms;

    &:hover,
    &:focus-visible {
      background-color: var(--foreground-3);
      outline-color: color-mix(in srgb, var(--foreground) 20%, transparent);
    }

    & > img {
      width: 280px;
      height: auto;
      object-fit: cover;

      mask-image: linear-gradient(
        0deg,
        light-dark(#ffffffaa, transparent) 0%,
        white 100%
      );

      background-image: radial-gradient(
        var(--layout-border) 20%,
        transparent 30%
      );
      background-size: 8px 8px;
      background-repeat: space;
    }

    & > div {
      border-left: 1px solid var(--layout-border);

      display: flex;
      flex-direction: column;
      gap: 14px;
      padding: 32px;

      & > div {
        & > h2 {
          margin-bottom: 0.4em;
        }

        & > p {
          line-height: 1.5;
        }
      }
    }

    @media only screen and (max-width: 600.5px) {
      flex-direction: column;

      & > img {
        width: 100%;
      }

      & > div {
        padding-bottom: 64px;
        border-left: unset;
      }
    }
  }
</style>
